{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ object.name }} - Новости компании - {{ block.super }} {% endblock %}
{% block breadcrumbs %} &gt; {{ object.name }}{% endblock %}
{% block news %}{% endblock %}

{% block content %}
    <h1>{{ object.name }}</h1>
    <span class="date">{{ object.pub_date|date:"%d.%m.%Y" }}</span>
    {% if object.picture %}
        {% thumbnail object.picture 200x200 crop as thumb %}
        <img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}" align="left" style="margin: 0 1em 1em 0;">
    {% endif %}
    {{ object.html|safe }}
{% endblock %}



