{% extends 'base.html' %}
{% load thumbnail %}

        
{% block title %}Новости компании - {{ block.super }} {% endblock %}
{% block news %}{% endblock %}
	
{% block content %}

<h1>Новости компании</h1>
<ul class="news">
{% for entry in object_list %}
	<li>
	    <h3><a href="{{ entry.get_absolute_url }}">{{ entry.name }}</a></h3>
	    {% if entry.picture %}
	        {% thumbnail entry.picture 64x64 crop as thumb %}
	        <img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}" align="left" style="margin: 0 1em 1em 0;">
	    {% endif %}
	    <p>{{ entry.anounce|safe }}</p>
	</li>        
{% empty %}
	Новостей нет	
{% endfor %}
</ul>

{% ifnotequal paginator.num_pages 1 %}
<div class="hr"></div>
<div class="pagination" style="float:right; margin-bottom: 1em;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt;&lt; Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница <b>{{ page_obj.number }}</b> из <b>{{ paginator.num_pages }}</b>.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая &gt;&gt;</a>
        {% endif %}
    </span>
</div>
{% endifnotequal %}

{% endblock %}
